* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition-duration: .3s;
}
::before,
::after {
    transition-duration: var(--trans);
}
:root {
    --p-r: 4rem;
    --hei: 4.65rem;
    --main-clr: #2196f3;
    --main-r: #1787e0;
    --bac-clr: #ececec;
    --li-bac: #fafafa;
    --p: #777;
    --border: .25rem;
    --trans: .3s
}
html {
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}
.container {
    padding: 0 var(--p-r);
    display: grid;
    gap: 2.3rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.main-title {
    width: fit-content;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    margin: 0 auto 5rem;
    letter-spacing: .05rem;
    border: .2rem solid #000;
    position: relative;
    --out: -15%;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-clr);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    z-index: -1;
    transition-duration: .1s;
}
.main-title::before {
    left: var(--out);
}
.main-title::after {
    right: var(--out);
}
.main-title:hover {
    color: #fff;
    border-color: #fff;
    transition-delay: calc(1.5 * var(--trans));
}
.main-title:hover::before {
    left: 0;
}
.main-title:hover::after {
    right: 0;
}
.main-title:hover::before,
.main-title:hover::after {
    height: 100%;
    border-radius: 0;
    width: 50%;
    padding: 0;
    transition-duration: calc(1.5 * var(--trans));
}
body > section {
    width: 100%;
    position: relative;
}
body section:not(.landing) {
    padding: 5rem 0;
}
body section:not(.landing):nth-child(even) {
    background-color: var(--bac-clr);
    position: relative;
    z-index: 0;
}
body section:not(.landing):nth-child(even)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    top: 0;
    left: 0;
    background-image: conic-gradient(from .5turn at 50% 100%, var(--bac-clr) 135deg, #fff 135deg,#fff 225deg, var(--bac-clr) 225deg);
    background-size: 1.9rem;
}
/* landing */
/* header */
header.container,
.landing main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header {
    position: relative;
    box-shadow: 0 0 .8rem 0 #ccc;
}
header ul {
    display: flex;
}
header a {
    height: var(--hei);
    display: inline-block;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.1rem;
    color: #000;
}
header > a {
    font-weight: 700;
    font-size: 1.65rem;
    color: var(--main-clr);
}
header li a {
    position: relative;
    padding: 0 1.9rem;
}
header li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: var(--border);
    background-color: var(--main-clr);
}
header li a:hover {
    background-color: var(--li-bac);
    color: var(--main-clr);
}
header li a:hover::before {
    width: 100%;
}
header .more {
    border-top: .125rem solid var(--bac-clr);
    border-bottom: var(--border) solid var(--main-clr);
    width: calc(100% - 2 * var(--p-r));
    background-color: #fff;
    position: absolute;
    height: 22rem;
    left: var(--p-r);
    display: flex;
    padding: 1rem calc(.35 * var(--p-r));
    padding-top: 1.5rem;
    justify-content: space-around;
    opacity: 0;
    z-index: -1;
    top: 160%;
    transition: top var(--trans), opacity var(--trans);
}
header li.master:hover .more {
    opacity: 1;
    z-index: 2;
    top: 100%;
}
header .more .img {
    display: flex;
    align-items: center;
    width: 40%;
}
header .more img {
    width: 100%;
}
header .more ul {
    width: 35rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}
header .more li {
    width: 15rem;
}
header .more li a {
    width: 100%;
    color: var(--main-clr);
    font-weight: 700;
    font-size: 1.1rem;
    height: unset;
    padding: calc(.1 * var(--p-r)) calc(.2 * var(--p-r));
    padding-left: 0;
    border-bottom: .085rem solid var(--bac-clr);
}
header .more li a::before {
    height: 100%;
    background-color: var(--li-bac);
    z-index: -1;
}
header li a:hover {
    background-color: unset;
}
header .more li a i {
    display: inline-block;
    font-size: 1rem;
    margin: .8rem;
}
/* header */
/* main */
.landing main {
    height: calc(100vh - var(--hei));
    max-height: calc(100vh - var(--hei));
    background-image: linear-gradient(174deg, var(--bac-clr) 72%, #fff 72%);
}
.hello {
    margin-top: -8rem;
    max-width: 45.1%;
    line-height: 1.6;
}
.hello h1 {
    margin: 0;
    letter-spacing: -.15rem;
    word-spacing: 0;
    font-size: 2.5rem;
}
.hello p {
    color: #666;
    font-size: 1.45rem;
}
.landing main > a {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform: translate(-50%, 0);
    height: 0;
    animation: move 1.2s infinite;
}
i {
    font-size: 2rem;
    color: var(--main-clr);
}
.landing main .img {
    margin-bottom: 3.5rem;
    width: 50%;
    animation: up-down 1.5s alternate infinite;
}
.img img {
    width: 100%;
}
/* main */
/* landing */
/* articles */
.articles main,
.stats main,
footer .container {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
.articles .item {
    --time: .6s;
    overflow: hidden;
    border-radius: .6rem;
    background-color: #fff;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 10%);
    transition: all calc(.5 * var(--time)) linear;
}
.articles .item:hover {
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 30%);
    transform: translateY(-.5rem);
}
.articles img {
    width: 100%;
}
.articles .item > *:not(img) {
    padding: 1.3rem;
}
.articles .item p {
    padding-top: 0;
    color: var(--p);
    line-height: 1.6;
    border-bottom: .08rem solid var(--bac-clr)
}
.articles .item .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .item a {
    color: var(--main-clr);
    text-transform: capitalize;
    font-weight: 700;
}
.articles .item i {
    font-size: 1rem;
}
.articles .item:hover i {
    animation: arrow var(--time) linear infinite;
}
/* articles */
/* Gallery */
.gallery main {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}
.gallery .item {
    padding: 1rem;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 .5rem 0 rgb(0 0 0 / 30%);
}
.gallery .item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 30%);
    transition: 1ms;
    z-index: 2;
}
.gallery .item:hover::before {
    animation: big var(--trans) linear;
}
.gallery .img {
    overflow: hidden;
}
.gallery img {
    width: 100%;
    transition: var(--trans);
}
.gallery .item:hover img {
    transform: scale(1.1) rotate(5deg);
}
/* Gallery */
/* Features */
.features main {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}
.features .item {
    border: .01rem solid #ccc;
    text-align: center;
}
.features .img {
    position: relative;
}
.features .img::before,
.features .img::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
}
.features .img::before {
    top: 0;
    height: 100%;
}
.features .item .img::before {
    background-color: var(--m-b);
    opacity: .5;
}
.features .img::after {
    bottom: 0;
    height: 40%;
    background-color: #fff;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}
.features .item:hover .img::after {
    clip-path: polygon(0 100%, 0 0, 100% 100%, 0 100%);
}
.features .item h2 {
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 1.4rem;
    position: relative;
    width: fit-content;
}
.features .item h2::before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    background-color: var(--m-b);
    width: 50%;
    height: .3rem;
    transform: translateX(-50%);
}
.features p {
    line-height: 2.25;
    color: var(--p);
    font-size: 1.2rem;
    padding: 0 2rem;
    margin:  3rem 0;
}
.features a {
    position: relative;
    width: fit-content;
    display: block;
    color: var(--m-b);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto 1.8rem;
    padding: .6rem 1.8rem;
    border: .2rem solid var(--m-b);
    border-radius: .5rem;
}
.features a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--m-b);
    height: 100%;
    width: 0;
    z-index: -1;
}
.features .item:hover a {
    color: #fff;
}
.features .item:hover a::before {
    width: 100%;
}
/* Features */
/* testimonials */
.testimonials main {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}
.testimonials .item {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 .2rem #bbb;
    border-radius: .35rem;
    padding: calc(.3 * var(--p-r));
}
.testimonials .item > * {
    margin-bottom: calc(.15 * var(--p-r));
}
.testimonials .item img {
    --w: 5.5rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: var(--w);
    border-radius: 50%;
    box-sizing: content-box;
    border: .5rem solid var(--bac-clr);
}
.testimonials .item:hover img {
    animation: left-right 2s linear;
}
.testimonials .item i {
    font-size: 1rem;
    margin-right: .25rem;
    color: rgb(255, 196, 0);
}
.testimonials .item i.fa-regular {
    color: #000;
}
.testimonials .item p {
    color: var(--p);
}
.testimonials .item .desc {
    line-height: 1.6;
    width: 90%;
    margin-bottom: 0;
}
/* team */
.team main {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.team .item {
    --m: 1.2rem;
    --w: 82.5%;
    border-radius: .65rem;
    padding: 18% 0 0;
    position: relative;
}
.team .item::before,
.team .item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: var(--w);
    height: 100%;
    background-color: #eee;
    border-radius: inherit;
    z-index: -2;
}
.team .item::after {
    width: 0;
    background-color: #ccc;
    z-index: -1;
}
.team .item:hover::after {
    width: var(--w);
}
.team .item .top {
    border-radius: inherit;
    display: flex;
    align-items: center;
}
.team .item img {
    width: 85%;
    border-radius: inherit;
}
.team .item:hover img {
    filter: grayscale(100%);
}
.team .item .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.team .item i {
    font-size: 1rem;
    margin: calc(.5 * var(--m)) var(--m);
    color: var(--p);
}
.team .item a:hover i {
    color: var(--c);
}
.team .item h3 {
    margin: 1.5rem calc(100% - var(--w) + var(--m)) 1rem;
    color: var(--main-clr);
    font-size: 1.4rem;
}
.team .item:hover h3 {
    color: var(--p);
}
.team .item p {
    margin: 0 0 1.5rem calc(100% - var(--w) + var(--m));
}
/* team */
/* services */
.services main {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}
.services .item {
    box-shadow: 0 0 .5rem 0 #aaa;
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    position: relative;
    counter-increment: omar;
}
.services .item::before {
    content: "";
    position: absolute;
    width: 0;
    height: var(--border);
    background-color: var(--main-clr);
    top: calc(-1 * var(--border));
    left: 50%;
    transform: translateX(-50%);
}
.services .item:hover {
    transform: translateY(-.75rem);
}
.services .item:hover::before {
    width: 100%;
}
.services i {
    font-size: 4rem;
    color: #d5d5d5;
    margin-bottom: 1.5rem;
}
.services h3 {
    color: var(--main-clr);
    font-size: 1.5rem;
    width: fit-content;
    margin: 0 auto 3.5rem;
}
.services .item div {
    background-image: linear-gradient(120deg, var(--main-clr) 25%, #d5d5d5 25%, #d5d5d5 40%, #f7f7f7 40%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
}
.services .item div::before {
    content: '0'counter(omar);
    position: absolute;
    left: 1rem;
    color: #fff;
    font-size: 1.9rem;
    font-weight: 700;
}
.services .item a {
    margin-right: 1rem;
    color: var(--main-clr);
}
/* services */
/* testimonials */
/* our */
.our main {
    display: flex;
    gap: 0;
}
.our .img {
    width: 45%;
}
.our .skills {
    flex: 1;
    margin-top: 3rem;
}
.our .skills span {
    background-image: linear-gradient(90deg, var(--main-clr) var(--i), var(--bac-clr) var(--i));
    display: block;
    width: 100%;
    height: 2rem;
    margin-bottom: 3.5rem;
    position: relative;
}
.our .skills span::before {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: calc(100% + 1rem);
    font-weight: 700;
    font-size: 1.2rem;
}
.our .skills span::after {
    content: attr(range);
    position: absolute;
    right: 0;
    bottom: calc(100% + 1rem);
    padding: .25rem;
    border: .05rem solid #d5d5d5;
    border-radius: .25rem;
    color: var(--main-clr);
    font-size: .7rem;
    font-weight: 700;
}
/* our */
/* work */
.work main {
    display: flex;
    gap: 6rem;
}
.work .jobs {
    flex: 1;
    display: grid;
    gap: 1.5rem;
}
.work .jobs .item {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f6f5f5;
    border: .15rem solid #fff;
    border-radius: .4rem;
    padding: 2rem;
    gap: 2rem;
    z-index: 1;
}
.work .jobs .item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    width: 0;
    height: 0;
    background-color: #ededed;
    z-index: -1;
}
.work .jobs .item:hover::before {
    width: 100%;
    height: 100%;
}
.work .jobs img {
    width: 4rem;
}
.work .jobs h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
.work .jobs p {
    color: var(--p);
    line-height: 1.8;
    font-size: 1.1rem;
}
/* work */
/* events */
.events main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.events main::before,
.events main::after {
    content: url(../imgs/dots.png);
    position: absolute;
    right: 0;
    z-index: -1;
}
.events main::after {
    left: 0;
    bottom: 6rem;
}
.events img {
    width: 28rem;
}
.events .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    flex: 1;
    margin-top: 4rem;
}
.events .counter {
    width: 20.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(1rem, 1fr));
    gap: .7rem;
    margin-bottom: 2.5rem;
}
.events .item {
    border: .05rem solid #d4d4d4;
    border-radius: .4rem;
}
.events .item:hover {
    border-color: var(--main-clr);
}
.events span {
    display: block;
    text-align: center;
}
.events span:nth-child(1) {
    color: var(--main-clr);
    font-size: 2.15rem;
    font-weight: 700;
    border-bottom: .05rem solid #d4d4d4;
    padding: 1rem 0;
}
.events .item:hover span:nth-child(1) {
    border-color: var(--main-clr);
}
.events span:nth-child(2) {
    padding: .5rem 0;
    font-size: .85rem;
}
.events h2 {
    font-size: 1.8rem;
    letter-spacing: -.04rem;
    margin-bottom: 1.5rem;
}
.events p {
    color: var(--p);
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: center;
}
.events form {
    margin-top: 5rem;
    width: 37.5rem;
    background-color: #f6f5f5;
    padding: 2rem 2.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.events input {
    padding: 1.7rem;
    border-radius: inherit;
    border: none;
    outline: none;
}
.events [type=email] {
    flex: 1;
    caret-color: var(--main-clr);
}
.events [type=email]:focus {
    color: #fff;
}
.events [type=submit] {
    color: #fff;
    background-color: var(--main-clr);
    font-weight: 700;
    width: 7rem;
    padding: 1.7rem 0;
    cursor: pointer;
}
.events [type=submit]:hover {
    background-color: var(--main-r);
}
/* events */
/* pricing */
.pricing main {
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.9rem;
}
.pricing main::before,
.pricing main::after {
    content: url(../imgs/dots.png);
    position: absolute;
}
.pricing main::before {
    left: 0;
    bottom: 5rem;
}
.pricing main::after {
    right: 0;
    top: -2.5rem;
}
.pricing .item {
    background-color: #fff;
    box-shadow: 0 0 .75rem 0 #ccc;
    padding: 2.5rem 0;
    position: relative;
    z-index: 1;
}
.pricing .item:nth-child(2) {
    transform: translateY(-1rem);
}
.pricing .item::before,
.pricing .item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
}
.pricing .item::before {
    top: 0;
    left: 0;
}
.pricing .item::after {
    bottom: 0;
    right: 0;
}
.pricing .item:hover::before,
.pricing .item:hover:after {
    width: 100%;
}
.pricing .item .popular {
    position: absolute;
    top: 0;
    right: -8rem;
    transform: rotate(90deg) ;
    transform-origin: top left;
    background-color: var(--main-clr);
    color: #fff;
    padding: .5rem;
    padding-right: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
}
.pricing .item .popular::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: conic-gradient(transparent 45deg, #fff 45deg, #fff 135deg, transparent 135deg);
    padding: 1.12rem;
}
.pricing .item > * {
    margin: auto;
    width: fit-content;
}
.pricing .item h3 {
    font-size: 1.5rem;
    margin-bottom: 1.75rem;
}
.pricing .item img {
    width: 5rem;
    display: block;
    margin-bottom: 2.5rem;
}
.pricing span {
    display: block;
}
.pricing span:nth-child(3) {
    font-size: 4rem;
    font-weight: 700;
    color: var(--main-clr);
    margin-bottom: .5rem;
}
.pricing span:nth-child(4) {
    font-size: 1rem;
    color: var(--p);
    margin-bottom: 1rem;
}
.pricing .item ul {
    width: 100%;
}
.pricing li {
    padding: 1.25rem 1rem;
    border-top: .05rem solid #d4d4d4;
}
.pricing li::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    color: var(--main-clr);
    margin-right: .7rem;
}
.pricing .item a {
    color: var(--main-clr);
    font-weight: 700;
    display: block;
    border: .15rem solid var(--main-clr);
    border-radius: .3rem;
    padding: 1rem 1.3rem;
    margin: 1rem auto -.2rem;
}
.pricing .item a:hover {
    color: #fff;
    background-color: var(--main-clr);
}
/* pricing */
/* video */
.video .item {
    display: flex;
    flex-wrap: wrap;
    border: .05rem solid #ddd;
}
.video .choises {
    min-width: 18.5rem;
}
.video .choises h3,
.video .choises li {
    padding: 1.2rem;
}
.video .choises h3 {
    background-color: #f4f4f4;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}
.video .choises h3::after {
    content: "\f074";
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    cursor: pointer;
}
.video .choises ul {
    background-color: #fff;
}
.video .choises li {
    border-top: .05rem solid var(--bac-clr);
    cursor: pointer;
}
.video .choises li:hover {
    background-color: #fafafa;
}
.video .choises span {
    color: var(--p);
    display: block;
}
.video .choises .title {
    color: #000;
    margin-bottom: .75rem;
}
.video .choises li:hover .title {
    color: var(--main-clr);
}
.video .view {
    background-color: #e2e2e2;
    padding: .7rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .view img {
    max-width: 100%;
}
.video .view p {
    background-color: #fff;
    padding: 1.4rem;
    margin-top: .7rem;
}
/* video */
/* stats */
.stats {
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%!important;
    background-color: rgb(255 255 255 / 90%);
    background-image: none!important;
    z-index: -1;
}
.stats h2 {
    width: fit-content;
    margin: 1rem auto 3rem;
    font-size: 2.5rem;
}
.stats main {
    gap: 1.2rem;
}
.stats .item {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 2rem;
}
.stats .item::before,
.stats .item::after {
    content: "";
    position: absolute;
    background-color: var(--main-clr);
    width: .125rem;
    height: 0;
    transition-duration: .6s;
}
.stats .item::before {
    bottom: 0;
    left: 0;
}
.stats .item:hover::before {
    height: 100%;
}
.stats .item::after {
    top: 0;
    right: 0;
}
.stats .item:hover::after {
    height: 100%;
}
.stats i {
    color: #000;
    font-size: 2.2rem;
}
.stats h3 {
    font-size: 3rem;
    margin: 1rem 0;
}
.stats p {
    color: var(--main-clr);
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
}
/* stats */
/* discount */
.discount {
    display: flex;
    padding: unset!important;
}
.discount main {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.discount main:nth-child(1) {
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    color: #fff;
    padding-top: 6rem;
    padding-bottom: 4rem;
    position: relative;
    animation: change 10s linear infinite;
    z-index: 1;
}
.discount main:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount h2 {
    margin-top: 0;
    font-size: 2.25rem;
}
.discount main:nth-child(1) p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin: -.25rem 0 -1rem;
    max-width: 32rem;
}
.discount main:nth-child(1) img {
    width: 18.75rem;
}
.discount main:nth-child(2) h2 {
    margin: revert;
    font-size: 2.5rem;
    letter-spacing: -.05rem;
}
.discount main:nth-child(2) form {
    display: grid;
}
.discount main:nth-child(2) input,
.discount main:nth-child(2) textarea {
    width: 18.75rem;
    border: none;
    outline: none;
    border-bottom: .05rem solid #ccc;
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1.5rem;
    caret-color: var(--main-clr);
}
.discount main:nth-child(2) input {
    height: 3.75rem;
}
.discount main:nth-child(2) [type=submit] {
    height: 3.5rem;
    color: #fff;
    background-color: var(--main-clr);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}
.discount main:nth-child(2) [type=submit]:hover {
    background-color: var(--main-r);
}
.discount main:nth-child(2) textarea {
    resize: none;
    height: 12.5rem;
}
/* discount */
/* footer */
footer {
    background-color: #191919;
    color: #b9b9b9;
}
footer .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: .05rem solid #444;
}
footer h3 {
    font-size: 3rem;
    color: #fff;
    margin: 0 0 1.5rem;
}
footer .media {
    display: flex;
    gap: .6rem;
    margin-bottom: 1.5rem;
}
footer .media a {
    background-color: #313131;
    font-size: .6rem;
    padding: .85rem;
}
footer .media a:hover {
    background-color: var(--c);
}
footer .media i {
    color: #b9b9b9;
}
footer p {
    line-height: 1.8;
}
footer ul li {
    border-bottom: .05rem solid #444;
    padding: .9rem 0;
}
footer ul li:last-child {
    border: none;
}
footer ul li:hover {
    padding-left: .7rem;
}
footer ul li:hover a {
    color: #fff;
}
footer ul a {
    color: #b9b9b9;
}
footer ul a::before {
    content: "\f101";
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    color: var(--main-clr);
    margin-right: .7rem;
}
footer .box {
    line-height: 1.8;
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    margin-bottom: 1rem;
}
footer .box::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    color: var(--main-clr);
    font-size: 1.5rem;
    margin-right: 1rem;
    text-align: center;
}
footer .box:first-child::before {
    content: "\f3c5";
}
footer .box:nth-child(2)::before {
    content: "\f017";
    font-weight: 400;
}
footer .box:last-child::before {
    content: "\f2a0";
}
footer .box span {
    display: block;
}
footer .item:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: .5rem;
    align-content: start;
}
footer img {
    max-width: 100%;
    border: .2rem solid #fff;
    box-sizing: border-box;
}
footer > p {
    width: fit-content;
    margin: auto;
    padding: 1.25rem 0;
    color: #fff;
}
footer > p a {
    color: var(--main-clr);
    display: inline-block;
}
footer > p a:hover {
    transform: scale(1.1);
}
/* footer */
/* responsive */
@media (max-width: 992px) {
    :root {
        --p-r: 2rem
    }
    header .more {
        height: 20rem;
    }
    header .more .img {
        display: none;
    }
    header .more ul {
        padding: 0 2rem;
        flex: 1;
        justify-content: space-around;
        align-content: space-around;
    }
    header .more li a {
        width: 100%;
    }
    .landing main {
        justify-content: center;
        background-image: linear-gradient(174deg, var(--bac-clr) 77%, #fff 77%);
    }
    .hello {
        max-width: 32rem;
        text-align: center;
    }
    .landing main .img {
        display: none;
    }
    .our .img {
        display: none;
    }
    .work main {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .events img {
        display: none;
    }
    .video .item {
        flex-direction: column;
    }
    .discount {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    :root {
        --hei: 3rem;
    }
    header.container {
        flex-direction: column;
        gap: .5rem;
    }
    header a {
        font-size: .9rem;
    }
    
    header > a {
        font-size: 1.65rem;
    }
    header .more {
        width: 100%;
        left: 0;
        height: unset;
        padding: 0;
    }
    header .more .img {
        display: none;
    }
    header .more ul {
        flex-wrap: nowrap;
        align-items: center;
        align-content: unset;
        padding: .5rem;
        padding-bottom: 0;
    }
    header .more li,
    header .more li a {
        width: 100%;
    }
    .hello h1 {
        font-size: 1.75rem;
    }
    .hello p {
        font-size: 1.15rem;
    }
    .landing main > a {
        bottom: 1.5rem;
    }
    .events form {
        border-radius: 0;
    }
    .events [type=submit] {
        width: 100%;
    }
}
@media (max-width: 575px) {
    :root {
        --p-r: 1rem
    }
    header li a {
        padding: 0 .5rem;
    }
    .landing main > a {
        bottom: 5rem;
    }
    .work .jobs .item {
        flex-direction: column;
        text-align: center;
    }
    .video .choises h3,
    .video .choises li {
        padding: .8rem;
    }
}
/* responsive */
/* animation */
@keyframes move {
    20%,
    80% {
        transform: translate(-50%, -1rem);
    }
    40%,
    60%,
    100% {
        transform: translate(-50%, 0);
    }
}
@keyframes up-down {
    to {
        transform: translateY(-3rem);
    }
}
@keyframes arrow {
    to {
        transform: translateX(.6rem);
    }
}
@keyframes big {
    90% {
        padding: 15rem;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes left-right {
    50% {
        right: calc(100% - var(--w) - 1rem);
    }
    100% {
        right: 0;
    }
}
@keyframes change {
    50% {
        background-image: url(../imgs/discount-background2.jpg);
    }
}
/* animation */