* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --p-r: 4rem;
    --hei: 4.65rem;
    --main-clr: #2196f3;
    --bac-clr: #ececec;
    --li-bac: #fafafa;
    --p: #666;
    --border: .25rem;
    --trans: .3s
}
html {
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}
.container {
    padding: 0 var(--p-r);
    display: grid;
    gap: 2.3rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.main-title {
    width: fit-content;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    margin: 0 auto 5rem;
    letter-spacing: -.05rem;
    border: .2rem solid #000;
    position: relative;
    --out: -20%;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-clr);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    z-index: -1;
    transition-duration: .1s;
}
.main-title::before {
    left: var(--out);
}
.main-title::after {
    right: var(--out);
}
.main-title:hover {
    color: #fff;
    border-color: #fff;
    transition-delay: var(--trans);
}
.main-title:hover::before {
    left: 0;
}
.main-title:hover::after {
    right: 0;
}
.main-title:hover::before,
.main-title:hover::after {
    height: 100%;
    border-radius: 0;
    width: 50%;
    padding: 0;
    transition-duration: var(--trans);
}
body > section {
    width: 100%;
    position: relative;
}
body section:not(.landing) {
    padding: 5rem 0;
}
body section:not(.landing):nth-child(odd) {
    background-color: var(--bac-clr);
    position: relative;
    z-index: 0;
}
.chark {
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}
.chark::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: conic-gradient(from .5turn at 50% 100%, var(--bac-clr) 135deg, transparent 135deg,transparent 225deg, var(--bac-clr) 225deg);
    background-size: 1.9rem;
    background-repeat: repeat;
}
.chark::after {
    content: "";
}
/* landing */
/* header */
.landing header,
.landing main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.landing header {
    box-shadow: 0 0 .8rem 0 #ccc;
    position: relative;
}
.landing ul {
    display: flex;
}
.landing a {
    height: var(--hei);
    display: inline-block;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.1rem;
    color: #000;
}
.landing .container > a {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--main-clr);
}
.landing li a {
    position: relative;
    padding: 0 1.9rem;
}
.landing li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: var(--border);
    background-color: var(--main-clr);
    transition-duration: var(--trans);
}
.landing li a:hover {
    background-color: var(--li-bac);
    color: var(--main-clr);
}
.landing li a:hover::before {
    width: 100%;
}
.landing .more {
    border-top: .125rem solid var(--bac-clr);
    border-bottom: var(--border) solid var(--main-clr);
    width: calc(100% - 2 * var(--p-r));
    background-color: #fff;
    position: absolute;
    height: 22rem;
    left: var(--p-r);
    display: flex;
    padding: 1rem 0;
    padding-top: 1.5rem;
    justify-content: space-between;
    opacity: 0;
    z-index: -1;
    top: 160%;
    transition: top var(--trans), opacity var(--trans);
}
.landing li.master:hover .more {
    opacity: 1;
    z-index: 2;
    top: 100%;
}
.landing .more .img {
    display: flex;
    align-items: center;
}
.landing .more img {
    width: 30rem;
    margin-left: calc(.5 * var(--p-r));
}
.landing .more ul {
    width: 35rem;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0 2rem;
}
.landing .more li a {
    width: 15rem;
    color: var(--main-clr);
    font-weight: 700;
    font-size: 1.1rem;
    height: unset;
    padding: calc(.1 * var(--p-r)) calc(.2 * var(--p-r));
    padding-left: 0;
    border-bottom: .085rem solid var(--bac-clr);
}
.landing .more li a::before {
    height: 100%;
    background-color: var(--li-bac);
    z-index: -1;
}
.landing li a:hover {
    background-color: unset;
}
.landing .more li a i {
    display: inline-block;
    font-size: 1rem;
    margin: .8rem;
}
/* header */
/* main */
.landing main {
    height: calc(100vh - var(--hei));
    max-height: calc(100vh - var(--hei));
    background-image: linear-gradient(174deg, var(--bac-clr) 72%, #fff 72%);
}
.hello {
    margin-top: -8rem;
    width: 32rem;
    line-height: 1.6;
}
.hello h1 {
    margin: 0;
    letter-spacing: -.13rem;
    font-size: 2.5rem;
}
.hello p {
    color: var(--p);
    font-size: 1.45rem;
}
.landing main > a {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform: translate(-50%, 0);
    height: 0;
    animation: move 1.2s infinite;
}
i {
    font-size: 2rem;
    color: var(--main-clr);
}
.landing main .img {
    margin-bottom: 3.5rem;
    width: 50%;
    animation: up-down 1.5s alternate infinite;
}
.img img {
    width: 100%;
}
/* main */
/* landing */
/* articles */
.articles main {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
.articles .item {
    --time: .6s;
    overflow: hidden;
    border-radius: .6rem;
    background-color: #fff;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 10%);
    transition: all calc(.5 * var(--time)) linear;
}
.articles .item:hover {
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 30%);
    transform: translateY(-.5rem);
}
.articles img {
    width: 100%;
}
.articles .item > *:not(img) {
    padding: 1.3rem;
}
.articles .item p {
    padding-top: 0;
    color: var(--p);
    line-height: 1.6;
    border-bottom: .08rem solid var(--bac-clr)
}
.articles .item .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .item a {
    color: var(--main-clr);
    text-transform: capitalize;
    font-weight: 700;
}
.articles .item i {
    font-size: 1rem;
}
.articles .item:hover i {
    animation: arrow var(--time) linear infinite;
}
/* articles */
/* Gallery */
.gallery .container {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}
.gallery .item {
    padding: 1rem;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 .5rem 0 rgb(0 0 0 / 30%);
}
.gallery .item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 30%);
    transition: 1ms;
    z-index: 2;
}
.gallery .item:hover::before {
    animation: big var(--trans) linear;
}
.gallery .img {
    overflow: hidden;
}
.gallery img {
    width: 100%;
    transition: var(--trans);
}
.gallery .item:hover img {
    transform: scale(1.1) rotate(5deg);
}
/* Gallery */
/* responsive */
@media (max-width: 992px) {
    :root {
        --p-r: 2rem
    }
    .landing .more {
        height: 20rem;
    }
    .landing .more .img {
        display: none;
    }
    .landing .more ul {
        padding: 0 2rem;
        flex: 1;
    }
    .landing .more li a {
        width: 100%;
    }
    .landing main {
        justify-content: center;
        background-image: linear-gradient(174deg, var(--bac-clr) 77%, #fff 77%);
    }
    .hello {
        text-align: center;
    }
    main .img {
        display: none;
    }
}
@media (max-width: 767px) {
    :root {
        --hei: 3rem;
    }
    .landing header {
        flex-direction: column;
    }
    .landing a {
        font-size: .8rem;
    }
    .landing .more {
        width: 100%;
        left: 0;
        height: unset;
        padding: 0;
    }
    .landing .more .img {
        display: none;
    }
    .landing .more ul {
        flex-wrap: nowrap;
        align-items: center;
        padding: .5rem;
        padding-bottom: 0;
    }
    .landing .more li,
    .landing .more li a {
        width: 100%;
    }
    .hello h1 {
        font-size: 1.75rem;
    }
    .hello p {
        font-size: 1.15rem;
    }
    .landing main > a {
        bottom: 1.5rem;
    }
}
@media (max-width: 575px) {
    :root {
        --p-r: 1rem
    }
    .landing li a {
        padding: 0 .5rem;
    }
    .landing main > a {
        bottom: 5rem;
    }
}
/* responsive */
/* animation */
@keyframes move {
    20%,
    80% {
        transform: translate(-50%, -1rem);
    }
    40%,
    60%,
    100% {
        transform: translate(-50%, 0);
    }
}
@keyframes up-down {
    to {
        transform: translateY(-3rem);
    }
}
@keyframes arrow {
    to {
        transform: translateX(.6rem);
    }
}
@keyframes big {
    90% {
        padding: 15rem;
    }
    100% {
        background-color: transparent;
    }
}
/* animation */